@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
    background: rgb(241, 220, 29);
    color: rgb(14, 68, 104);
  }
input:focus,
select:focus,
textarea:focus,
button:focus {
     outline: none;    
    /* border: 1px solid rgba(126, 126, 126, 0.61); */
}
.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}

[type='text'] {
  box-shadow: none !important;
}
.fc-event {
  cursor: pointer;
}
.ant-upload-list-item-container {
    width: 100% !important;
    height: auto !important;
}

.ant-table-filter-dropdown .ant-btn-primary { 
  background-color: #059669 !important; /* biru AntD */ 
  border-color: #059669 !important; 
  color: #fff !important; 
}

.dept-summary-table .ant-table-container {
  overflow: auto;
}

.dept-summary-table .ant-table-thead > tr > th {
  background-color: #228f46; 
  color: #fff;              
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

/* Center modal title */ 
.modal-title-center { 
  text-align: center; 
  font-weight: bold; 
  font-size: 18px; 
}
  
/* Custom table header */ 
.custom-table-header .ant-table-thead > tr > th { 
  background-color: #059669 !important;
  color: #fff !important;
  text-align: center;
}


.menu-label {
  color: #1f2937;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.menu-label:hover {
  color: #111827;
  transform: scale(1.05);
}


 @media(max-width: 576px) {
   .ant-picker-panels {
     flex-direction: column;
   }
 }